services:
  raptor-gateway:
    build: .
    container_name: raptor-gateway
    restart: always
    network_mode: host
    volumes:
      - /var/run/network-status:/var/run/network-status:ro
    environment:
      - NETWORK_STATUS_FILE=/var/run/network-status
      - LOCAL_MQTT_URL=tcp://localhost:1883
      - CLOUD_MQTT_URL=tcp://3.141.116.27:1883
      - CLOUD_MQTT_USER=raptor
      - CLOUD_MQTT_PASS=raptorMQTT2025
      - RAPTOR_SITE=shop
      - RAPTOR_DEVICE=revpi-135593
